[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pytest = "*"
psycopg2-binary = "*"

[packages]
psycopg2 = "==2.7.7"

[requires]
python_version = "3.7"
